matplotlib~=3.5.0
requests~=2.26.0
discord-py-slash-command~=3.0.1
discord.py>=1.6.0
pytest-shutil
SQLAlchemy~=1.4.25
Flask~=2.0.2
flask_migrate
flask_sqlalchemy
prettytable~=3.1.0
bcrypt~=3.2.0
DateTime~=4.4
numpy~=1.21.2
python-dotenv~=0.19.0
alembic~=1.7.6
sqlalchemy_imageattach
